matplotlib-3.3.4
pandas-1.2.1
diskcache-5.2.1
catboost-0.24.4
retrying-1.3.3
ipython_genutils-0.2.0
absl_py-0.11.0
langid-1.1.6
jupyterlab_pygments-0.1.2
tensorboardX-2.1
six-1.15.0
jupyterlab_widgets-1.0.0
Pygments-2.8.0
s3transfer-0.3.4
grpcio-1.35.0
pytest-6.2.2
eptest-0.1
webencodings-0.5.1
browser_cookie3-0.12.0
cryptography-3.3.1
pytz-2020.5
texttable-1.6.3
rsa-4.7
nbconvert-6.0.7
python_dateutil-2.8.1
backcall-0.2.0
yacs-0.1.8
requests-2.25.1
traitlets-5.0.5
boto3-1.16.61
bleach-3.3.0
distributed-2021.1.1
pyparsing-2.4.7
SecretStorage-3.3.1
async_generator-1.10
autograd-1.3
ptyprocess-0.7.0
pymorphy2-0.9.1
tornado-6.1
mistune-0.8.4
idna-2.10
py-1.10.0
networkx-2.5
cffi-1.14.4
keyring-22.0.1
multidict-5.1.0
flake8-3.8.4
QtPy-1.9.0
notebook-6.2.0
terminado-0.9.2
joblib-1.0.0
iniconfig-1.1.1
pycparser-2.20
Jinja2-2.11.3
thrift-0.13.0
jupyter_client-6.1.11
jsonschema-3.2.0
autogluon.core-0.0.16b20210128
Bottleneck-1.3.2
numpy-1.19.5
protobuf-3.14.0
beautifulsoup4-4.9.3
jupyter_core-4.7.1
widgetsnbextension-3.5.1
cycler-0.10.0
setuptools-52.0.0
sentencepiece-0.1.95
docopt-0.6.2
DAWG_Python-0.7.2
pytorch_lightning-1.1.8
Cython-0.29.21
qtconsole-5.0.2
pyrsistent-0.17.3
urllib3-1.26.3
immutables-0.14
jeepney-0.6.0
dill-0.3.3
fastai-1.0.61
pluggy-0.13.1
autocfg-0.0.6
pybind11-2.6.2
jmespath-0.10.0
openml-0.11.0
Send2Trash-1.5.0
aiohttp-3.7.3
decord-0.4.2
pyzmq-22.0.3
llvmlite-0.35.0
google_auth-1.26.1
nest_asyncio-1.5.1
sortedcontainers-2.3.0
PyNaCl-1.4.0
contextvars-2.4
fastparquet-0.4.1
MarkupSafe-1.1.1
nbclient-0.5.2
packaging-20.8
pickleshare-0.7.5
parso-0.8.1
nbformat-5.1.2
autogluon-0.0.14
zict-2.0.0
google_auth_oauthlib-0.4.2
attrs-20.3.0
smart_open-4.2.0
tensorboard-2.4.1
click-7.1.2
bcrypt-3.2.0
decorator-4.4.2
PyYAML-5.3.1
PySocks-1.7.1
gluoncv-0.9.2
scipy-1.4.1
argon2_cffi-20.1.0
jedi-0.18.0
liac_arff-2.5.0
lz4-3.1.3
torch-1.7.1
scikit_optimize-0.8.1
fasttext-0.9.2
typing-3.7.4.3
oauthlib-3.1.0
xgboost-1.2.1
html5lib-1.1
Django-1.11.29
ipython-7.20.0
nvidia_ml_py3-7.352.0
Werkzeug-1.0.1
defusedxml-0.6.0
Pillow-6.2.1
transformers-4.2.2
pyflakes-2.2.0
pyarrow-1.0.0
ConfigSpace-0.4.10
autogluon.tabular-0.0.16b20210128
dask-2021.1.1
kiwisolver-1.3.1
certifi-2020.12.5
async_timeout-3.0.1
sacrebleu-1.5.0
tqdm-4.56.0
langdetect-1.0.8
cloudpickle-1.6.0
wheel-0.36.2
pexpect-4.8.0
jupyter-1.0.0
pymorphy2_dicts_ru-2.4.417127.4579844
HeapDict-1.0.1
cachetools-4.2.1
tokenizers-0.9.4
portalocker-2.1.0
msgpack-1.0.2
xmltodict-0.12.0
fuzzyset-0.0.19
fuzzywuzzy-0.18.0
autogluon_contrib_nlp-0.0.1b20210112
toolz-0.11.1
chardet-3.0.4
pycryptodome-3.10.1
fsspec-0.8.5
pycodestyle-2.6.0
pyaml-20.4.0
stem-1.8.0
requests_oauthlib-1.3.0
pyasn1_modules-0.2.8
tensorboard_plugin_wit-1.8.0
opencv_python-4.5.1.48
tblib-1.7.0
regex-2020.11.13
prompt_toolkit-3.0.16
pip_autoremove-0.9.1
testpath-0.4.4
pandocfilters-1.4.3
soupsieve-2.1
wcwidth-0.2.5
plotly-4.14.3
torchvision-0.8.2
botocore-1.19.61
entrypoints-0.3
graphviz-0.8.4
mxnet-1.7.0.post1
pyasn1-0.4.8
lightgbm-3.1.1
filelock-3.0.12
threadpoolctl-2.1.0
future-0.18.2
seaborn-0.11.1
prometheus_client-0.9.0
gensim-3.8.3
toml-0.10.2
python_Levenshtein-0.12.2
typing_extensions-3.7.4.3
psutil-5.7.0
pip-21.0
paramiko-2.7.2
yarl-1.6.3
numexpr-2.7.2
mccabe-0.6.1
pbkdf2-1.3
scikit_learn-0.23.2
ipykernel-5.4.3
fastprogress-1.0.0
pyaes-1.6.1
apipkg-1.5
iniconfig-1.1.1
numba-0.52.0
jupyter_console-6.2.0
ipywidgets-7.6.3
Markdown-3.3.3
